@import "_mixins.scss";

$mobile-bg: url("../../public/assets/crew/background-crew-mobile.jpg");
$tablet-bg: url("../../public/assets/crew/background-crew-tablet.jpg");
$desktop-bg: url("../../public/assets/crew/background-crew-desktop.jpg");

@mixin background-image-responsive {
  background-image: $mobile-bg;

  @media (min-width: 768px) {
    background-image: $tablet-bg;
  }

  @media (min-width: 1024px) {
    background-image: $desktop-bg;
  }
}

@keyframes mergeAndShake {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.PageContainer {
  @include background-image-responsive;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.PageContent {
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 24px;
  color: var(--color-white);

  @include medium-only {
    height: calc(100vh - 96px);
    padding: 0 39px;
  }

  @include large-only {
    min-height: calc(100% - 144px);
    padding: 0 0 0 96px;
  }

  @include large-up {
    min-height: calc(100% - 144px);
    padding: 0 192px;
  }
}

.ContentWrapper {
  display: flex;
  flex-direction: column;

  @include medium-only {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  @include large-only {
    flex-direction: row-reverse;
    flex: 1.2;
    flex-basis: 60%;
    position: relative;
  }

  @include large-up {
    flex-direction: row-reverse;
    flex: 1.2;
    flex-basis: 60%;
    position: relative;
  }
}

.Title {
  text-align: center;
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  @include medium-only {
    text-align: left;
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.38px;
  }

  @include large-only {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.72px;
  }

  @include large-up {
    text-align: left;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 6.1px;
  }

  > span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 18px;
  }
}

.Role {
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;

  @include medium-only {
    font-size: 24px;
    line-height: 28px;
  }
  @include large-only {
    font-size: 32px;
    line-height: 37px;
    text-align: left;
  }
  @include large-up {
    font-size: 40px;
    line-height: 46px;
    text-align: left;
  }
}

.CrewName {
  padding: 8px 0;
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;

  @include medium-only {
    font-size: 40px;
    line-height: 46px;
  }

  @include large-only {
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    min-width: 615px;
    margin-bottom: 19px;
  }

  @include large-up {
    font-size: 72px;
    line-height: 82px;
    text-align: left;
    min-width: 615px;
    margin-bottom: 19px;
  }
}

.DescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  @include large-only {
    justify-content: flex-start;
  }

  @include large-up {
    justify-content: flex-start;
  }
}

.Description {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 8px;

  @include medium-only {
    width: 458px;
    min-height: 112px;
    font-size: 16px;
    line-height: 28px;
  }

  @include large-only {
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    min-height: 128px;
    margin-top: 0;
  }

  @include large-up {
    width: 630px;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    min-height: 128px;
    margin-top: 0;
  }
}

.CrewSelect {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem 0;
  gap: 16px;
  color: var(--color-purple);
  z-index: 1;

  @include large-only {
    justify-content: flex-start;
    height: 40px;
  }

  @include large-up {
    justify-content: flex-start;
  }

  > li {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    @include large-only {
      justify-content: center;
      margin-top: 48px;
    }

    @include large-up {
      justify-content: center;
      margin-top: 48px;
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      outline: none;
      margin-right: 5px;
      cursor: pointer;

      @include large-only {
        width: 15px;
        height: 15px;
      }

      @include large-up {
        width: 20px;
        height: 20px;
      }
    }

    input[type="radio"]:not(:checked) {
      border-color: var(--color-white);
      background-color: var(--color-white);
      opacity: 0.2;
    }

    input[type="radio"]:checked {
      border-color: var(--color-white);
      background-color: var(--color-white);
      color: var(--color-white);
    }
  }
}

.TextContent {
  display: flex;
  flex-direction: column-reverse;

  @include large-only {
    justify-content: center;
    max-width: 650px;
    position: absolute;
    left: 50px;
    top: 100px;
  }

  @include large-up {
    justify-content: center;
    max-width: 850px;
    position: absolute;
    left: 50px;
    top: 154px;
  }
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @include medium-only {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @include large-only {
    border: 0;
    margin-top: 0;
    width: 50%;
    flex: 0.8;
    flex-basis: 40%;
    position: absolute;
    bottom: 0;
    right: 50px;
  }

  @include large-up {
    border: 0;
    margin-top: 0;
    width: 50%;
    flex: 0.8;
    flex-basis: 40%;
    position: absolute;
    bottom: 0;
    right: 50px;
  }
}

.ImageContainer > img {
  width: auto;
  opacity: 0;
  transform: translateY(100%);
  animation: mergeAndShake 2s ease-out forwards;

  @include medium-only {
    height: 532px;
  }

  @include large-only {
    height: 480px;
  }

  @include large-up {
    height: 730px;
  }
}

.ImageContainer > img[alt="Douglas Hurley"] {
  @include medium-only {
    height: 572px;
  }

  @include large-only {
    height: 520px;
  }

  @include large-up {
    height: 930px;
  }
}
