.PageContainer {
  width: 100%;
  height: auto;
  background-image: url("../../public/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.PageContent {
  height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 24px;
  color: var(--color-white);
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.Tab {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 16px 0;
  color: var(--color-purple);

  > li {
    padding: 8px 0;
  }
}

.Title {
  text-align: center;
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  > span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 18px;
  }
}

.Name {
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.Description {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  min-height: 100px;
  margin-bottom: 64px;
}

.Detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;

  &:last-of-type {
    margin-bottom: 57px;
  }
}

.DetailTitle {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.36px;
  text-align: center;
  text-transform: uppercase;
}

.DetailInfo {
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.Selected {
  border-bottom: 3px solid var(--color-white);
  color: var(--color-white);
}
