@import "mixins.scss";

$mobile-bg: url("../../public/assets/destination/background-destination-mobile.jpg");
$tablet-bg: url("../../public/assets/destination/background-destination-tablet.jpg");
$desktop-bg: url("../../public/assets/destination/background-destination-desktop.jpg");

@mixin background-image-responsive {
  background-image: $mobile-bg;

  @media (min-width: 768px) {
    background-image: $tablet-bg;
  }

  @media (min-width: 1024px) {
    background-image: $desktop-bg;
  }
}

@keyframes mergeAndShake {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.PageContainer {
  @include background-image-responsive;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.PageContent {
  height: calc(100% - 91px);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 24px;
  color: var(--color-white);

  @include medium-only {
    height: calc(100vh - 96px);
    padding: 0 39px;
  }

  @include large-only {
    height: calc(100vh - 144px);
    padding: 0 96px;
  }

  @include large-up {
    height: calc(100vh - 144px);
    padding: 0 192px;
  }
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include large-only {
    height: calc(100vh - 144px);
    flex-direction: row;
    gap: 150px;
  }

  @include large-up {
    height: calc(100vh - 144px);
    flex-direction: row;
    gap: 150px;
  }
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  > img {
    opacity: 0;
    transform: translateY(100%);
    animation: mergeAndShake 2s ease-out forwards,
      shake 4s infinite ease-in-out 2s;

    @include medium-only {
      width: 285px;
      height: 285px;
    }
    @include large-only {
      width: 400px;
      height: 400px;
    }
    @include large-up {
      width: 635px;
      height: 635px;
    }
  }
}

.TabContainer {
  @include medium-only {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @include large-only {
    flex-direction: column;
  }
  @include large-up {
    flex-direction: column;
  }
}

.Tab {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 16px 0;
  color: var(--color-purple);
  cursor: pointer;

  @include medium-only {
    width: 285px;
  }

  @include large-only {
    width: 285px;
  }

  @include large-up {
    width: 285px;
  }

  > li {
    padding: 8px 0;

    @include medium-only {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }
  }
}

.Title {
  text-align: center;
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  @include medium-only {
    text-align: left;
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.38px;
  }

  @include large-only {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.72px;
  }

  @include large-up {
    text-align: left;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 6.1px;
  }

  > span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 18px;
  }
}

.Name {
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;

  @include medium-only {
    font-size: 80px;
    line-height: 92px;
  }

  @include large-only {
    font-size: 100px;
    line-height: 115px;
    text-align: left;
    margin-top: 0;
  }

  @include large-up {
    font-size: 120px;
    line-height: 138px;
    text-align: left;
  }
}

.DescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  @include large-only {
    min-height: 192px;
  }

  @include large-up {
    min-height: 192px;
  }
}

.Description {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  min-height: 100px;
  margin-bottom: 14px;

  @include medium-only {
    font-size: 16px;
    line-height: 28px;
    width: 573px;
  }

  @include large-only {
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    min-height: 128px;
    text-align: left;
    margin-bottom: 0;
  }

  @include large-up {
    font-size: 20px;
    line-height: 36px;
    width: 500px;
    min-height: 128px;
    text-align: left;
  }
}

.Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include medium-only {
    flex-direction: row;
    gap: 42px;
  }

  @include large-only {
    flex-direction: row;
    gap: 42px;
    justify-content: flex-start;
  }

  @include large-up {
    flex-direction: row;
    gap: 42px;
    justify-content: flex-start;
  }
}

.Detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;

  @include medium-only {
    margin-bottom: 0;
  }

  @include large-only {
    align-items: flex-start;
    margin-bottom: 0;
  }

  @include large-up {
    margin-bottom: 0;
    align-items: flex-start;
  }

  &:last-of-type {
    margin-bottom: 57px;

    @include medium-only {
      margin-bottom: 0;
    }

    @include large-only {
      margin-bottom: 0;
    }

    @include large-up {
      margin-bottom: 0;
    }
  }
}

.DetailTitle {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.36px;
  text-align: center;
  text-transform: uppercase;
}

.DetailInfo {
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.Selected {
  border-bottom: 3px solid var(--color-white);
  color: var(--color-white);
}
