@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&family=Bellefair&display=swap");

:root {
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow Condensed", sans-serif;
  --color-black: #0b0d17;
  --color-white: #ffffff;
  --color-purple: #d0d6f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
