@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&family=Bellefair&display=swap");

:root {
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
