@import "_mixins.scss";

$mobile-bg: url("../../public/assets/technology/background-technology-mobile.jpg");
$tablet-bg: url("../../public/assets/technology/background-technology-tablet.jpg");
$desktop-bg: url("../../public/assets/technology/background-technology-desktop.jpg");

@mixin background-image-responsive {
  background-image: $mobile-bg;

  @media (min-width: 768px) {
    background-image: $tablet-bg;
  }

  @media (min-width: 1024px) {
    background-image: $desktop-bg;
  }
}

.PageContainer {
  @include background-image-responsive;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.PageContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 24px;
  color: var(--color-white);

  @include large-only {
    min-height: calc(100% - 144px);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 24px 0 0;
    position: absolute;
    left: 16px;
    top: 60px;
  }

  @include large-up {
    min-height: calc(100% - 144px);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 24px 0 0;
    position: absolute;
    left: 16px;
  }
}

.ImageContainerLandscape {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  @include medium-only {
    margin-top: 60px;
  }

  @include large-only {
    display: none;
  }

  @include large-up {
    display: none;
  }

  > img {
    width: 100%;
    height: auto;

    @include large-only {
      display: none;
    }

    @include large-up {
      display: none;
    }
  }
}

.ImageContainerPortrait {
  position: absolute;
  right: 0;
  justify-content: end;
  align-items: end;

  @include small-down {
    display: none;
  }

  @include medium-only {
    display: none;
  }

  @include large-only {
    top: 60px;
  }

  @include large-up {
    top: 120px;
  }

  > img {
    width: 450px;
    height: auto;

    @include large-only {
      width: 350px;
      height: auto;
    }

    @include large-up {
      width: 650px;
      height: auto;
    }
  }
}

.ContentWrapper {
  display: flex;
  flex-direction: row-reverse;
  height: calc(100vh - 178px);
  margin-left: 16px;
  position: relative;

  @include large-up {
    height: calc(100vh - 191px);
    margin-left: 112px;
  }
}

.TextContent {
  @include large-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 470px;
  }
  @include large-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 700px;
  }
}

.Title {
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-barlow);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  @include medium-only {
    text-align: left;
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.38px;
    padding-left: 39px;
  }

  @include large-only {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.72px;
    margin-left: 96px;
  }

  @include large-up {
    text-align: left;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 6.1px;
    margin-left: 192px;
  }

  > span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 18px;
  }
}

.Subtitle {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.36px;
  text-align: center;
  text-transform: uppercase;

  @include medium-only {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  @include large-only {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: left;
  }

  @include large-up {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3.2px;
    text-align: left;
  }
}

.TechName {
  padding: 9px 0;
  color: var(--color-white);
  font-family: var(--font-bellefair);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;

  @include medium-only {
    font-size: 40px;
    line-height: 46px;
    padding: 16px 0;
  }

  @include large-only {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
  }

  @include large-up {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.DescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Description {
  color: var(--color-purple);
  font-family: var(--font-barlow);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 7px;

  @include medium-only {
    font-size: 16px;
    line-height: 28px;
    width: 458px;
  }
  @include large-only {
    width: 444px;
    min-height: 160px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  @include large-up {
    width: 600px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.TechSelect {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 2rem 0;
  gap: 16px;
  color: var(--color-purple);
  z-index: 1;

  @include large-only {
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
  }

  @include large-up {
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
  }

  > li {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      outline: none;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include medium-only {
        width: 60px;
        height: 60px;
      }

      @include large-only {
        width: 80px;
        height: 80px;
      }

      @include large-up {
        width: 100px;
        height: 100px;
      }
    }

    input[type="radio"]:not(:checked) {
      border-color: var(--color-white);
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-sizing: border-box;
      color: var(--color-white);
    }

    input[type="radio"]:checked {
      border-color: var(--color-white);
      background-color: var(--color-white);
    }

    input[type="radio"]:before {
      content: attr(data-counter);
      font-family: var(--font-bellefair);
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 1px;
      text-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @include medium-only {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.5px;
      }

      @include large-only {
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 2px;
      }

      @include large-up {
        font-size: 44px;
        line-height: 46px;
        letter-spacing: 2.5px;
      }
    }

    input[type="radio"]:before:not(:checked) {
      color: var(--color-white);
    }

    input[type="radio"]:before:checked {
      color: var(--color-black);
    }
  }
}
