@import "../../styles/mixins";

.MenuMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  @include small-up {
    display: flex;
  }
  @include medium-only {
    display: none;
  }
  @include large {
    display: none;
  }
}

.MenuDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  @include small-down {
    display: none;
  }

  @include small-up {
    display: none;
  }
  @include medium-only {
    display: flex;
    padding: 0 39px;
  }
  @include large {
    display: flex;
  }
}

.Logo {
  border-radius: 50%;
  background-color: var(--color-white);

  @include small-up {
    width: 40px;
    height: 40px;
  }
  @include medium-only {
    width: 50px;
    height: 50px;
  }
  @include large {
    width: 50px;
    height: 50px;
  }
}
